ACME_EMAIL="you@example.com"

TRAEFIK_DASHBOARD_HOST="traefik.example.com"
AUTHELIA_HOST="auth.example.com"
AUTHELIA_JWT_SECRET="<<CHANGE_THIS_LONG_RANDOM_JWT_SECRET>>"
AUTHELIA_SESSION_SECRET="<<CHANGE_THIS_LONG_RANDOM_SESSION_SECRET>>"
AUTHELIA_ADMIN_PASSWORD="$argon2id$v=19$m=65536,t=3,p=4$<<CHANGE_WITH_HASH>>"
PORTAINER_HOST="portainer.example.com"
UPTIME_KUMA_HOST="status.example.com"
DOZZLE_HOST="logs.example.com"
TZ="Europe/Paris"
DOMAIN="home.local"