# Google OAuth 2.0 for SSO in Authentik
OIDC_GOOGLE_CLIENT_ID="<<CHANGE_THIS_GOOGLE_CLIENT_ID>>"
OIDC_GOOGLE_CLIENT_SECRET="<<CHANGE_THIS_GOOGLE_CLIENT_SECRET>>"

AUTHENTIK_SECRET_KEY="<<CHANGE_THIS_LONG_RANDOM_SECRET_KEY>>"
AUTHENTIK_BOOTSTRAP_PASSWORD="<<CHANGE_THIS_INITIAL_ADMIN_PASSWORD>>"
AUTHENTIK_BOOTSTRAP_EMAIL="admin@example.com"
PG_DB="authentik"
PG_USER="authentik"
PG_PASS="<<CHANGE_THIS_DATABASE_PASSWORD>>"

ACME_EMAIL="you@example.com"

TRAEFIK_DASHBOARD_HOST="traefik.example.com"
AUTH_HOST="auth.example.com"
AUTH_HOST_AOC_PORTAL="auth.customerapp.net"
PORTAINER_HOST="portainer.example.com"
UPTIME_KUMA_HOST="status.example.com"
DOZZLE_HOST="logs.example.com"
AOC_PUBLISHER_HOST="publisher.example.com"
TZ="Europe/Paris"